body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.displayCal{
    
    width: 100%;
}
.calculator {
   
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#display {
    width: 100%;
    height: 45px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

button {
    width: 100%;
    height: 50px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    background: black;
    color: white;
}

button.operator {
    background: rgb(160, 88, 88);
    font-size: 15px;
    
}

button.equals {
    color: #fff;
}
#clear{
    background-color: grey;
}